@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.main{
    background-color: #f4f4f4;
    padding: 56px 0px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 19px;
}
.col{
    max-width: 32.39%;
}
.box{display: flex;align-items: center;column-gap: 20px;}
.icon img{
    
height: 82px;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    flex-wrap: wrap;
}

.content h2{
    font-size: 28px;
    font-weight: 600;
    color: #0E0311;
}
.content p{
    font-size: 19px;
    color: #0e0311d9;
}